html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #404040;*/
    background-color: black;
    background-image: url("../images/Fire.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    
    background-position: 22vw 0%;
}
.container {
    max-width: 1200px;
    padding: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
}
.locations {
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: #444444;
    margin-top: 2%;
    border-radius: 0.9vw;
}

.information p {
    font-size: 1.3vw;
    line-height: 2; 
}

h1 {
    font-family: 'Bitter', serif;
    font-size: 2.3vw;
    color: whitesmoke;
}

#map {
    width: 50%;
    margin: 1%;
    border-radius: 3%;
}
