html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #404040;*/
    background-color: black;
    background-image: url("../images/Fire.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    
    background-position: 22vw 0%;
}
p, h1 {
    color: whitesmoke;
}
.container {
    max-width: 1200px;
    padding: 1.5em;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #1E1E1E;
}
.overlay-text {
    text-align: center;
    white-space: nowrap;
    min-width: 75%;
    font-size: 7.5vw;
    position: absolute;
    top: 20%;
    color: lightgray;
    background: linear-gradient(to bottom, #FFA500, #C50101);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 2px #000000;
    z-index: 1000;
}
.slider-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    width: 100%;
    max-height: 30rem;
    padding-top: 1%;
    margin: 0, auto;
    margin-top: 2%;
}
.slider {
    width: 100%;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 1rem;
    max-height: 30rem;
}
.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 47%;
    z-index: 1;
}
.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover {
    opacity: 1;
}
.special-events {
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
}
.special-events p {
    font-size: 1.3vw;
}
.super-bowl, .trivia-night {
    overflow: hidden;
    align-items: center;
    width: 100%;
    display: flex;
    line-height: 2;
    
}
.super-bowl h1, .trivia-night h1 {
    font-size: 2vw;
    text-align: center;
}
.super-bowl img, .trivia-night img {
    margin: 1%;
    border-radius: 4%;
    width: 25vw;
    display: flex;
}
.trivia-night {
    margin-top: 5%;
    margin-bottom: 10%;
}
.reservation {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
}
.reservation {
    padding-bottom: 2%;
}
.reservation h1 {
    text-align: center;
}
.reservation p {
    font-size: 1.3vw;
    line-height: 2;
}
.email {
    color: blue;
    text-decoration: underline;
}
.footer {
    margin-top: 20%;;
    height: 22vw;
    padding: 1%;
    padding-top: 0;
    background-color: rgb(44, 44, 44);
}
.footer h1 {
    font-size: 1.3vw;
    color: #8E3C00;

}
.footer p {
    font-size: 1.1vw;
    line-height: 1.25;
    color: #8B8B8B;

}
.footer-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 2vw;
    left: 0;
    right: 0;
    bottom: 0;
}

.hours p {
    line-height: 1.75; 
}
.divider {
    margin-top: 1%;
    background-color: gray;
    width: 99%;
    height: .25vw;
    margin-left: auto;
    margin-right: auto;
}
.copyright {
    text-align: center;
}
h1{
    font-size: 2.4vw;
    font-weight: 800;
    padding: 0.6vw 0;
    padding-right: 1.8vw;
    pointer-events: none;
}
.form-fields {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: 1fr;
}
.form-column {
    display: flex;
    flex-direction: column;
}
.input-row {
    margin-bottom: 1%;
}
.input-row textarea {
    width: 20.75vw; /* Adjust this value to increase or decrease the width */
}
.input-row input {
    width: 10vw;
}
.input-row button[type="submit"] {
    margin-left: 22%;
    width: 8vw;
    height: 1.25vw;
    transition: background-color 1s;
}

.input-row button[type="submit"]:hover {
    background-color: #FFD1B4;
    border-radius: 0.25vw;
}