
body {
    background-color: black;
    background-image: url("../images/Fire.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
}
.container {
    max-width: 1200px;
    padding: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
}
p, h1, h2 {
    color: whitesmoke;
}
.menu {
    margin-top: 1em;
    font-family: 'Bitter', serif;
    font-size: 2vw;
}

.menu-heading {
    margin: 0;
    padding-bottom: 0.75em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em 0;
}

.menu-item {
    margin: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background-color: #1E1E1E;
    transition: background-color 650ms;
    border-radius: 1vw;
    font-size: 1.75vw;
    color: whitesmoke;
}

.menu-item:hover {
    background-color: black;
}


.menu-item-image {
    border-radius: 1em;
    margin: 0.9em;
    width: 75%;
    height: inherit;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 0;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    text-align: center;
    padding: 14%;
    align-items: center;
}

.menu-item-name {
    margin-right: 1em;
}

@media screen and (min-width: 900px) { 
    .menu { 
        font-size: 1.3vw;
    }
    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-item-image {
        width: 9.25vw;
        height: 9.25vw;
    }
}
