
li{
    list-style: none;
    display: inline-block;
    font-size: 1.3vw;
}

.logo-image {
    position: relative; 
    margin-left: 5%;
    margin-top: 6vw;

    transform: translateY(-40%);
    height: auto;
    width: 85%;
}
ul li{
    list-style: none;

}
ul li a{
    color:#FFA500;
    font-weight: 500;
    padding: 5% 0;
    display:block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;

}

ul li:hover a{
    color: #fff;
    background-color:#585858;
}
.hiddenInput{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}
.toggle{
    position: absolute;
    height: 1.8vw;
    width: 1.8vw;
    top: 1.2vw;
    left: 1.2vw;
    z-index: 1;
    cursor: pointer;
    border-radius: 0.12vw;
    background-color:#8B8B8B;
    box-shadow: 0 0 0.6vw rgba(0,0,0,0.3);

}
.toggle .common{
    position: absolute;
    height: 0.12vw;
    width: 1.2vw;
    background-color:#000000;
    border-radius: 8.33vw;
    transition: 0.3s ease;

}
.toggle .top_line{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.toggle .middle_line{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.toggle .bottom_line{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

}
input:checked ~ .toggle .top_line{
    left: 0.12vw;
    top: 0.84vw;
    width: 1.5vw;
    transform: rotate(45deg);
}
input:checked ~ .toggle .bottom_line{
    left: 0.12vw;
    top: 0.84vw;
    width: 1.5vw;
    transform: rotate(-45deg);
}
input:checked ~ .toggle .middle_line{
    opacity: 0;
    transform: translateX(1.2vw);
}
input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: 0 0 0.9vw rgba(0,0,0,0.5);
}
.slide .logos{
    left: 1.2vw;
    top: auto;
    padding-left: 1.2vw;
}

a {
    color: inherit;
    text-decoration: none;
}
a:visited {
    color: inherit;
    text-decoration: none;
}

.slide{
    height: 25vw;
    width: 10%;
    font-size: 1.3vw;
    position: absolute;
    background-color:#8B8B8B;
    transition: .5s ease;
    transform: translateX(-10.8vw);
}