.container {
    max-width: 1200px;
    padding: 1.5em;
}


a {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

.menu {
    margin-top: 1.5em;
    font-family: 'Bitter', serif;
    font-size: 14px;
}

.menu-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}

.menu-item {
    margin: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    background-color: white;
    transition: background-color 650ms;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
}

.menu-item:hover {
    background-color: #ededed;
}


.menu-item-image {
    border-radius: 1em;
    margin: 0.8em;
    width: 75%;
    height: inherit;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    text-align: center;
    padding: 14%;
    align-items: center;
}

.menu-item-name {
    margin-right: 1.5em;
}

@media screen and (min-width: 900px) { 
    .menu { 
        font-size: 16px;
    }
    .menu-group {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}


#header {
    width: 100%;
    height: 100vh;
    background-color: #636363;
}
.container {
    position: relative;
    background-size: cover;
    background-position: center;
    margin-left: 10%;
    margin-right: 10%;
}




.container:before {    
    --size: 0;
    content: '';
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: 300px;
    height: 300px;
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
}

.container:hover:before {
    --size: 200px;
}   

nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #c9c9c9;
    
}
nav ul span a {
    border: white;
    
}

nav ul {
    margin: auto;
    height: 50%;
    align-content: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: -50px 100px;
    

}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    right: 45px;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: gray;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo-image {
    flex-shrink: 0;
    object-fit: cover;
    display: flex;
    height: 50px;
}

img {
    width: 100%;
    display: inline-block;
}

.logo {
    width: 10%;
}