html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #404040;*/
    background-color: black;
    background-image: url("../images/Fire.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    
    background-position: 22vw 0%;
}
.container {
    background-color: #444444;
    max-width: 1200px;
    padding: 1.5em;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0 0 0.9vw 0.9vw;
}

section.image {
    width: 200%;
}

.imagee{
    align-items: right;
    width: 24vw;
    aspect-ratio: 1/1;
    float: right;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 8%;
}

.description{
    font-family: 'Bitter', serif;
    font-size: 1.2vw;
    align-items: left;
    margin-top: 0%;
    margin-left: 5%;
    width: 120vw;
}

.add-cart {
    font-size: 1.2vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

.description h2 {
    color: #8B8B8B;
    text-align: center;
    text-decoration: underline;
}

.description p1 {
    color: #8B8B8B;
    line-height: 2;
    margin: 5%;
    margin-top: 6vw;
    width: 80%;
}

.description h3 {
    color: whitesmoke;
    text-decoration: underline;
    font-size: 1.5vw;
} 

.product-info {
    margin-top: 2em; 
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.divider {
    height: 0.4vw;
    background-color: #8E3C00;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
}

.options {
    display: flex;
    justify-content: center;
    margin: 2%;
    margin-right: 8%;
    align-items: center;
}

.options button { 
    height: 2.1vw;
    border-radius: 0.3vw;
    margin-right: 4%;
}

.container p2 {
    color: #222222;
}

p {
    font-size: 1.5vw;
    color: #8B8B8B;
}
